<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KnowledgeMatrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
    <!--<requiredRuntime version="v4.0.20506"/>-->
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <KnowledgeMatrix.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Authenicated" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>EEEEEEEE</value>
            </setting>
            <setting name="SetAuth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PanelWidth" serializeAs="String">
                <value>1014</value>
            </setting>
            <setting name="PanelHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ProductKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfActivation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAccessedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Header" serializeAs="String">
                <value>Pathways Foundation</value>
            </setting>
            <setting name="Footer" serializeAs="String">
                <value>Digital Warriors.Copyright Reserved 2015</value>
            </setting>
            <setting name="DaysToAdd" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Administrator" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="RegistrationKey" serializeAs="String">
                <value>e294c7186c45423a92c0bce5f</value>
            </setting>
            <setting name="OrganizationName" serializeAs="String">
                <value />
            </setting>
            <setting name="eTutorQuestions" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SharePath" serializeAs="String">
                <value>\\LT016644\CrashDump</value>
            </setting>
            <setting name="QuestionPaperQuestions" serializeAs="String">
                <value>5</value>
            </setting>
        </KnowledgeMatrix.Properties.Settings>
    </userSettings>
</configuration>
